.arraycard {
    background-color: white;
    box-shadow: 0 0 2px 1px red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    margin: 10px 0;
}